.content {
    border-radius: 8px;
    height: 600px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inp_place {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
  }