.wrapper_about {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 5rem;
}

.wrapper_img_about {
	width: 50%;
}
.wrapper_img_about img {
	width: 100%;
}
.wrapper_map {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.wrapper_map img {
	width: 500px;
	object-fit: cover;
	border-radius: 10px;
}
