.wrapper {
	padding-bottom: 20px;
}
.inner_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.wrapper_logo {
	display: flex;
	align-items: center;
	gap: 15px;
}
.wrapper_logo img {
	width: 60px;
	height: 60px;
}
.wrapper_select {
}
