.wrapper {
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #87939e;   
}