.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inpcontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.label {
  color: var(--ui-disabled-color);
}

.icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
}

.icon:nth-(1) {
  color: #4a4747;
  font-size: 20px;
}

.icon:nth-child(2) {
  color: #4a4747;
  font-size: 20px;
}

.input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  padding: 10px 5px;
  border: 0.5px solid #cacaca;
}

.input::placeholder {
  color: var(--ui-disabled-color);
}

.input:active {
  border: 1px solid var(--ui-background-color);
}

.input:focus {
  box-shadow: 0px 0px 1px 1px var(--ui-background-color);
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
