.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inpcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.label {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: var(--ui-disabled-color);  
}

.icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
}

.icon:nth-child(1) {
    color: gray;
    font-size: 20px;
}

.icon:nth-child(2) {
    color: #d0d2d3;
    font-size: 20px;
}

.input {
    width: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 0.6px;
    color: var(--ui-disabled--background);
    font-size: 16px;
    outline: none;
    transition: 0.2s;
    background-color: var(--ui-color);
    border: 1px solid var(--ui-color);
    padding-right: 50px;
}

.input::placeholder {
    color: var(--ui-disabled-color);
}

.input:active {
    border: 1px solid var(--ui-background-color);
}

.input:focus {
    box-shadow: 0px 0px 1px 1px var(--ui-background-color);
}

.input:disabled {
    opacity: 0.5;
    cursor: not-allowed;  
}

[type='number']::-webkit-outer-spin-button,
[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }