.containerdrop {
  width: 181px;
  height: 178px;
  border-radius: 8px;
  background-color: whitesmoke;
  border: 1.53px solid #d4d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  color: var(--ui-background-color);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: silver;
}