.header {
	width: 90%;
	padding: 1rem 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.inner_header {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #d9d9d9 !important;
}
.info {
	display: flex;
	gap: 10px;
}
.info_title {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	color: #d9d9d9;
}
.info_title div {
	display: flex;
	flex-direction: column;
}
.header span {
	cursor: pointer;
}
.titles {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 50px 0;
	font-size: 20px;
	color: gold;
}
.titles h1 {
	font-size: 40px;
}
.wrapper_services_title {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	text-align: center;
}
.wrapper_services_title_card {
	color: #d9d9d9;
}
.wrapper_services_title_card p {
	width: 180px;
	color: #d9d9d9;
}
.about_barber {
	width: 70%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 1rem 2rem;
	border-radius: 10px;
	margin-top: 50px;
}

.about_text {
	width: 45%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.about_barber hr {
	width: 2px;
	background-color: black;
}
.wrapper_slider {
	max-width: 45%;
}
.wrapper_slider img {
	width: 100%;
}

@media only screen and (max-width: 1000px) {
	.about_text {
		font-size: 12px;
	}
}
@media only screen and (max-width: 800px) {
	.about_text {
		width: 100%;
	}
	.wrapper_slider {
		max-width: 100%;
		width: 100%;
	}
	.about_barber {
		gap: 10px;
		flex-direction: column;
	}
	.about_barber hr {
		height: 2px;
		width: 100%;
		background-color: black;
	}
	.header {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.wrapper_services_title {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
	.about_barber {
		width: 100%;
	}
	.wrapper_services_title_card p {
		width: 100%;
	}
}
