.button {
    width: 400px;
    height: 40px;
    min-width: 100px;
    background-color: var(--ui-background-color);
    border-radius: 5px;
    color: var(--ui-color);
    font-weight: 700;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    outline: none;
    transition: 0.4s ease-in-out;
}

.button:hover {
    background-color: var(--ui-hover-background);
}

.button:active {
    color: var(--ui-color);
    background-color: var(--ui-active-background);
}

.button:disabled {
    cursor: not-allowed;
    color: 'var(--ui-disabled-color)';
    border: 'var(--ui-disabled-color)';
    background-color: var(--ui-disabled--background);
}