.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
}
.inner_wrapper {
	width: 100%;
	max-width: 1536px;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: initial;
}
@media only screen and (max-width: 400px) {
	.wrapper {
		padding: 0 0 !important;
	}
}
