.wrapper {
	width: 100%;
	/* background-color: #ffffff; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
	/* margin-top: 30px; */
}
.inner_wrapper {
	width: 100%;
	max-width: 1536px;
	/* background-color: #ffffff; */
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: initial;
}
