.container_schedule {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.container_name_week {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.container_name_week h1 {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 17px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}
.container_week {
	width: 100%;
	height: 30px;
	border-radius: 6px;
	background-color: #ede9e9;
	transition: width 500ms;
}
.container_inside_week {
	border-radius: 6px;
	height: 30px;
	transition: width 500ms;
	display: flex;
	padding-right: 10px;
	align-items: center;
	justify-content: flex-end;
	color: white;
	background-color: #33a011;
	width: 0px;
}
