@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   text-decoration: none;
   list-style-type: none;
   font-family: 'Jost', sans-serif;
}

:root {
   --ui-background-color: #3a10e5;
   --ui-color: #fff;
   --ui-active-background: #000d9d;
   --ui-hover-background: #3617b5;
   --ui-disabled-color: #7e7e7e;
   --ui-disabled--background: #1c1b1f1f;
}
