.header {
	width: 35%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header span {
	cursor: pointer;
}
.titles {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 50px 0;
	font-size: 20px;
}
.titles h1 {
	font-size: 40px;
}
.wrapper_services_title {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	text-align: center;
}
.wrapper_services_title_card {
}
.wrapper_services_title_card p {
	width: 180px;
}
