.header {
	width: 90%;
	padding: 1rem 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.inner_header {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info {
	display: flex;
	gap: 10px;
}
.info_title {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}
.info_title div {
	display: flex;
	flex-direction: column;
}
.header span {
	cursor: pointer;
}
.banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.wrapper_banner {
	width: 50%;
	display: flex;
	justify-content: end;
}

.wrapper_banner img {
	width: 100%;
	object-fit: cover;
}

.banner_1_star {
	display: flex;
	position: relative;
	margin-top: 80px;
}
.wrapper_titles {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.banner_2 {
	margin-top: 40px;
}
.service_button_banner {
	padding: 1rem 5rem;
	background-color: #ffffff;
	border-radius: 49px;
	font-size: 24px;
	color: #cda582;
	cursor: pointer;
	max-width: 250px;
}
.wrapper_img_banner:hover {
	opacity: 0.9;
	transition: 1s;
}
.titles {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	justify-content: center;
	height: 100%;
	gap: 20px;
	padding: 1rem;
}
.titles p {
	font-size: 44px;
}
.decs {
	font-size: 18px !important;
}
.titles span {
	font-size: 16px;
}
