.wrapper {
	width: 100%;
	min-height: 60vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid grey;
	border-radius: 10px;
	padding: 2rem;
	position: relative;
}
.block_1 {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.block_2 {
	width: 50%;
}
.block_2 img {
	width: 100%;
	height: fit-content;
}
.wrapper_input {
	position: absolute;
	z-index: 1;
	height: 30px;
	width: 95%;
	display: flex;
	justify-content: center;
	bottom: 130px;
}
.input {
	width: 100%;
	max-width: 600px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 1.5rem;
	border-radius: 10px;
	border: 2px solid #31a010;
}
.input hr {
	background-color: grey;
	width: 1px;
	height: 40px;
}
.search_input {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 45%;
	cursor: pointer;
}
@media only screen and (max-width: 1040px) {
	.wrapper_input {
		width: 85%;
		bottom: 70px !important;
	}
}
@media only screen and (max-width: 700px) {
	.wrapper_input {
		width: 96%;
		top: -30px;
		bottom: 0 !important;
	}
	.wrapper {
		margin-top: 30px;
		flex-direction: column;
		align-items: self-start;
		justify-content: flex-start;
		padding: 0 0.6rem;
		height: 100% !important;
	}
	.input {
		padding: 2rem 0.5rem !important;
	}
	.search_input {
		font-size: 14px;
	}
	.block_1 {
		width: 100%;
		margin-top: 70px;
	}
	.block_1 p {
		font-size: 14px;
	}
	.block_2 {
		width: 100%;
		margin-top: 50px;
	}
	.block_2 img {
		object-fit: cover;
		width: 100%;
	}
}
@media only screen and (max-width: 500px) {
	.wrapper_input {
		width: 94%;
	}
}
