.wrapper {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 50px 0;
}
.wrapper_progres {
	width: 80%;
	margin: 0 auto;
}
.wrapper_progres_name {
	position: absolute;
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: space-around;
	z-index: 10;
	top: 18px;
}
.progress_name {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	cursor: pointer;
}
/* -- */
.wrapper_appointment {
	width: 80%;
	margin: 0 auto;
}
.main {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.amount_apoointment {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	background-color: #f5f5f5;
	padding: 5px 5px 5px 10px;
}

.cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	border: 1px solid silver;
	border-radius: 6px;
} 



.card {
	width: 130px;
	height: 160px;
	border: 1px solid silver;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 7px;
	border-radius: 6px;
	cursor: pointer;
	margin: 6px;
}

.ava_wrapper {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 999px;
} 

.ava {
	width: 100%;
	object-fit: cover;
} 

.name {
	font-size: 12px;
} 

.rate {
	height: 20px;
	font-size: 14px;
}

.actions {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	/* padding: 1rem 2rem; */
}

.add {
	font-size: 24px;
	color: var(--ui-background-color);
	cursor: pointer;
}

.btn_wrapper {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.finish_ava_wrapper {
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 999px;
}

.finish_card {
	border: 1px solid silver;
	border-radius: 6px;
	margin: 25px 0;
	padding: 15px;
}

.top {
	padding-bottom: 5px;
	border-bottom: 1px solid silver;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top_h4 {
	font-size: 18px;
	color: gray;
}

.bottom {
	padding-top: 5px;
}

.bottom_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}